{% extends 'base_pp.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<div class="main-container">
    <div class="page-content">
        <div class="container-fluid">
           <div class="row">
               <div class="row align-items-center ">
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0">Passer vos commandes sur ApproDirect</h4>
                            </div>
                            <div class="card-body">
                                <form method="post">{% csrf_token %}


                                    <div class="mb-3">
                                        <label class="form-label" for="username">Nom d'utilisateur</label>
                                        <div class="position-relative input-custom-icon">
                                        {% render_field form.username class='form-control' %}
                                        </div>
                                    </div>
                                    
                                    <div class="mb-3">
                                        <label class="form-label" for="username">Nom du produit</label>
                                        <div class="position-relative input-custom-icon">
                                        {% render_field form.product_name class='form-control' %}
                                        </div>
                                    </div>
                                        <div class="mb-3">
                                        <label class="form-label" for="username">Numéro de téléphone</label>
                                        <div class="position-relative input-custom-icon">
                                        {% render_field form.contact class='form-control' %}
                                        
                                        </div>
                                    </div>
                                        <div class="mb-3">
                                        <label class="form-label" for="username">Type de Commande</label>
                                        <div class="position-relative input-custom-icon">
                                        {% render_field form.type_order class='form-control' %}
                                        
                                        </div>
                                    </div>
                                        <div class="mb-3">
                                        <label class="form-label" for="username">Ville de reception</label>
                                        <div class="position-relative input-custom-icon">
                                        {% render_field form.receiver_ville class='form-control' %}
                                        
                                        </div>
                                    </div>
                                        <div class="mb-3">
                                        <label class="form-label" for="username">Marque du produit commander</label>
                                        <div class="position-relative input-custom-icon">
                                        {% render_field form.marque_order class='form-control' %}
                                        
                                        </div>
                                    </div>
                                        <div class="mb-3">
                                        <label class="form-label" for="username">Taille/Mesure du produit(L/kg/etc..)</label>
                                        <div class="position-relative input-custom-icon">
                                        {% render_field form.size class='form-control' %}
                                        
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="username">Quantité du produit commander</label>
                                        <div class="position-relative input-custom-icon">
                                        {% render_field form.quantity class='form-control' %}
                                        
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="username">Informations suplémentaires</label>
                                        <div class="position-relative input-custom-icon">
                                    
                                        {% render_field form.infos class='form-control' %}
                                        </div>
                                    </div>
                                    
                                    <button class="btn btn-danger w-100 waves-effect waves-light" type="submit">commander</button>
                                    
                                    </form>
                               <!-- <form method="post">{% csrf_token %}
                                    <div class="mb-3">
                                        <label class="form-label" for="username">Nom d'utilisateur</label>
                                        <div class="position-relative input-custom-icon">                                               
                                             {{form.username }}  
                                          </div>                                                
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="username">Nom du produit</label>
                                        <div class="position-relative input-custom-icon">                                               
                                             {{form.product_name }}  
                                          </div>                                                
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="username">Numéro de téléphone</label>
                                        <div class="position-relative input-custom-icon">                                               
                                             {{form.contact }}  
                                          </div>                                                
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="username">Type de Commande</label>
                                        <div class="position-relative input-custom-icon">                                               
                                             {{form.type_order }}  
                                          </div>                                                
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="username">Ville de reception</label>
                                        <div class="position-relative input-custom-icon">                                               
                                             {{form.receiver_ville }}  
                                          </div>                                                
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="username">Marque du produit commander</label>
                                        <div class="position-relative input-custom-icon">                                               
                                             {{form.marque_order }}  
                                          </div>                                                
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="username">Taille/Mesure du produit(L/kg/etc..)</label>
                                        <div class="position-relative input-custom-icon">                                               
                                             {{form.size }}  
                                          </div>                                                
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="username">Quantité du produit commander</label>
                                        <div class="position-relative input-custom-icon">                                               
                                             {{form.quantity }}  
                                          </div>                                                
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="username">Informations suplémentaires</label>
                                        <div class="position-relative input-custom-icon">                                               
                                             {{form.infos }}  
                                          </div>                                                
                                    </div>
                                    
                                    <button class="btn btn-danger w-100 waves-effect waves-light" type="submit">commander</button>                                                               
                                
                                </form>-->
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->
                    </div>
    <!-- end col -->
               </div>
            </div>
       </div>
    </div>

</div>

{% endblock %}
